@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  text-decoration: none;
  background-color: #fff0f0;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}
:root {
  --color1: #fbe4dd;
  --color2: #c1694c;
  --color3: #751c19;
  --color4: #efa593;
  --BottomOffset: 20px;
  --LineHeight: 5px;
}
.dl-menu-style1 ul.et-menu > li > a {
  position: relative;
  z-index: 10;
}
.dl-menu-style1 ul.et-menu > li > a:before {
  position: absolute;
  content: "";
  display: block;
  z-index: 10;
  background: var(--color3);
  width: 0;
  height: var(--LineHeight);
  bottom: var(--BottomOffset);
  border-radius: var(--LineHeight);
  left: 50%;
  top: 90%;
  transition: 0.8s cubic-bezier(0.25, 0.1, 0, 2.02);
}

.dl-menu-style1 ul.et-menu > li > a:hover:before {
  width: calc(98% + var(--LineHeight));
  left: calc(var(--LineHeight) / -40);
}
.a {
  text-decoration: none;
  color: var(--color3);
}
